body{
    margin: 0;
    background: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("screenshots/white-teal backdrop.jpg");
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    min-height: 100vh;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
    margin-left: 10px;
}

header {
    width: 100%;
    margin-top: 5px;
    justify-content: center;
}

h1 {
    text-align: center;
}

button{
    margin-top: 10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: black;
    cursor: pointer;
    margin-bottom: 0;
    /* border-radius: 3px; */
    padding: 10px 20px;
}

#keyword {
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: black;
    cursor: pointer;
    margin-bottom: 0;
    /* border-radius: 3px; */
    padding: 10px 20px;  
} 